<!-- Footer -->
<header class="page-header font-small mdb-color lighten-3 pt-2">

    <!-- Footer Elements -->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">

  
        <!--Grid column-->
        <div >
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img style="height: 150px;width: 1200px;
            margin: auto;
            border: 3px solid #73AD21;" src="https://www.adroitinfosystems.com/images/siteimages/pages/finalImgforpages/ehospitalsystem-banner.jpg" class="img-fluid" alt="">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
   
  
  </header>
  <!-- Footer -->