<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<div *ngIf="employee" style="background-color: cornflowerblue">
  <div>
    <label>Name: </label> {{employee.firstName}}
  </div>
  <div>
    <label>Age: </label> {{employee.lastName}}
  </div>
  <div>
    <label>Email: </label> {{employee.emailId}}
  </div>
  <div>
      <label>Position: </label> {{employee.position}}
    </div>
  <div>
    <label>Active: </label> {{employee.active}}
  </div> 

  <span class="button is-small btn-primary" *ngIf='employee.active' (click)='updateActive(false)'>Inactive</span>

  <span class="button is-small btn-primary" *ngIf='!employee.active' (click)='updateActive(true)'>Active</span>

  <span class="button is-small btn-danger" (click)='deleteEmployee()'>Delete</span>

  <hr/>
</div>
