<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<div class="container">
		<div class="jumbotron">
<h3>About Us</h3>
<hr>
<div [hidden]="submitted" class="form-horizontal" >
			<form class="form-horizontal">
					<div>
					<h2>What we are doing</h2>
					<h3>Hand Hygiene</h3>
The Trust has a policy for monitoring good hand hygiene practice and a Dress Code for staff, every ward and department within the Trust is carrying out audits of practice on a regular basis. We are also participating in the DHSSPSNI Clean Your Hands campaign 
<h3>Surveillance</h3>

The Trust complies with the mandatory surveillance initiatives and targets set by the Department of Health and Social Services and implemented by the Public Health Agency.
Patient Placement Strategy
One of the initiatives we have employed that has helped us to reduce our rates of Clostridium difficile infections by 32% last year is to ensure all patients who have or are suspected of having Clostridium difficile infection are isolated promptly in a single room. Where the number of single rooms are limited we have set aside areas where we can place affected patients together.
    <!-- <img src="https://media.istockphoto.com/photos/medical-icon-network-connection-with-modern-virtual-screen-interface-picture-id695360362?k=6&m=695360362&s=612x612&w=0&h=XzqI8kqE6mPuYwiBf-v7moCusUP1xWs42Heaj7UaIiE=" /> -->

    <br>
    <hr>

    <div class="view overlay z-depth-1-half">
        <img style="height: 500px;width: 1200px;
        margin: auto;
        border: 3px solid #73AD21;" src="https://media.istockphoto.com/photos/medical-icon-network-connection-with-modern-virtual-screen-interface-picture-id695360362?k=6&m=695360362&s=612x612&w=0&h=XzqI8kqE6mPuYwiBf-v7moCusUP1xWs42Heaj7UaIiE=" class="img-fluid" alt="">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>
					</div>
			
			</form>
		</div>
	</div>
